<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <p style='font-size: 20px;'>
            Hi {{user.name}} 👋,<br>
            Welcome to VoteNow! 
        </p>   
        <br><br>
        <p style='font-size: 17px; color: #222222;'>
           You're one step away from activating your account, your confirmation code is below:
           <br>
           <h4>{{user.confirmation_code}}</h4>
        </p>
       

        <hr style='color:grey'>
        
        <p>
            Best wishes,<br>
            The VoteNow Team.
        </p>
    </body>
</html>
