<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <p style='font-size: 17px;'>
            Hi {{user.name}} 👋,<br>
        </p>   
        
        <p style='font-size: 17px; color: #222222;'>
            Welcome to VoteNow! <br>
           You're one step away from activating your account, your confirmation code is below:
           <br>
           <h2>{{user.confirmation_code}}</h2>
        </p>
        <hr style='color:grey'>
        
        <p>
            Best wishes,<br>
            The VoteNow Team.
        </p>
    </body>
</html>
